# Compiler files
cache/
out/

# Echidna output
crytic-export/
echidna-corpus/

# OS file
.DS_Store

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
